
/target/classes/*
/target/generated-sources/*
/target/generated-test-sources/*
/target/maven-archiver/*
/target/maven-status/*
/target/surefire-reports/*
/target/test-classes/*
/target/Mehdi-1.0-SNAPSHOT.jar.original

mehdi_api.tar
Mehdi.iml
